name: Main

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Generate Changelog
        run: echo "# Good things have arrived" > ${{ github.workspace }}-CHANGELOG.txt
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: 'demoFSDF'
          body_path: release.txt
          files: ${{ github.workspace }}/*
          token: ${{ secrets.GH_TOKEN }}